//! we can create a variable and use it in the scss file
//! we can also use the variable in the component file
//! we can also use the variable in the scss file of the component
//! we can also use the variable in the scss file of the component's child component

$first: #ffffff;
$second: #090c31;
$third: #5853ff;
$dark: #000000;

// fonts
$text1: "Roboto";
$text2: "cursive";
$text3: "sans-serif";
