@import "color";

.contact {
  width: 100%;
  height: 100vh;
  background-color: $second;
  display: flex;
  //   flex-direction: column;
  justify-content: center;
  align-items: center;

  > main {
    background-color: $first;
    width: 70%;
    height: 40rem;
    padding: 3rem;
    border-radius: 0 200px 200px 0;

    > h1 {
      font-size: 3rem;
      color: $second;
      text-align: center;
      margin-bottom: 2rem;
    }

    > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > div {
        height: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        margin: 0.5rem;

        > label {
          font: 400 1.2rem $text1;
          width: 20%;
          margin: 0.1rem;
        }

        > input {
          align-self: stretch;
          width: 80%;
          border: 1px solid rgba(123, 123, 123, 0.6);
          border-radius: 5px;
          padding: 1rem;
        }
      }

      > div {
        display: flex;
        justify-content: center;

        > button {
          width: 50%;
          height: 3rem;
          margin: 3rem 0;
          border: none;
          border-radius: 5px;
          padding: 0.5rem;
          justify-items: center;
          font: 500 1.5rem $text1;
          background-color: $third;
          color: $first;
          cursor: pointer;

          //todo: hover effect on button
          &:hover {
            background-color: $first;
            color: $second;
          }
        }
      }
    }
  }
}
